<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de Usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form   class="form p-t-20"
                        [formGroup]="perfilForm"
                        (submit)="actualizar()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" 
                                    class="form-control" 
                                    id="exampleInputuname" 
                                    formControlName="nombre"
                                    placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input  type="email" 
                                    class="form-control" 
                                    id="exampleInputEmail1" 
                                    placeholder="Enter email"
                                    formControlName="email"
                                    [readOnly]="usuario.google">
                        </div>
                    </div>
                    <button type="submit"
                            [disabled]="perfilForm.invalid"
                            class="btn btn-success waves-effect waves-light m-r-10"
                            >Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Imagen</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>

                <img *ngIf="!imgTemplate" [src]="usuario.imagenUrl" class="img-avatar" >
                <img  *ngIf="imgTemplate" [src]="imgTemplate" class="img-avatar" >


                <input  type="file"
                        (change)="cambiarImagen($any($event.target).files[0])">

                <br>
                <br>

                <button type="submit" 
                        [disabled]="!imagen"
                        (click)="subirImagen()"
                        class="btn btn-success waves-effect waves-light m-r-10"
                >Subir</button>
                
            </div>
        </div>
    </div>

    

</div>
