/* You can add global styles to this file, and also import other style files */

.selector{
    cursor: pointer;
}

.img-avatar{
    width: 200px;
    height: 200px;
}

.w100{
    width: 100px;
}

.avatar{
    width: 50px;
    border: 10px;
}

.pointer{
    cursor: pointer;
}